
extends layout
block content

    html 

        head 
        body

                - listaP = alumnos
                - listaM = materias   
                - usuario = user


                H2= `Bienvenido ${user.nombre} (${user.rol})` 


                div(class='dropdown')
                    button(class='dropbtn') Alumnos
        
                        div(class="dropdown-content")
                            a(href='/cursa/validarinscripcion') Validar Inscripción
                                 
               
                div(class='dropdown3')            
                 button(class='dropbtn3') Informes
                 
                        div(class="dropdown-content3")
                            a(href="#") Asistencias
                
                div(class='dropdown2')            
                 button(class='dropbtn2') Salir
                 
                        div(class="dropdown-content2")
                            a(href='/login/logout') Logout


       
                Br
                Br
                H2 Materias a Cargo
                form(id="formuM")  
                    table(id='myTable', border='1')     
                        thead 
                            tr
                                th(style='width:250px') Materia 
                                th(style='width:100px') C.Lectivo
                                th(style='width:120px') F.Inicio
                                th(style='width:120px') F.Fin
                                th(style='width:150px') Gestión Horarios
                                th(style='width:100px') Calendario
                                
                        tbody
                          if (listaM)      
                            each m in listaM
                                tr
                                    td #{m.nombre}
                                    td #{m.cicloLectivo}
                                    td #{m.fechaInicioCursada}
                                    td #{m.fechaFinCursada}
                                    td 
                                        a(href=`/materias/gestionHorario/${m.idMateria}`)= "Editar" 
                                    td 
                                        a(href=`/materias/calendarioprofesor/${m.idMateria}`)= "Calendario"      
                        br



           
          
    